@charset "UTF-8";

.box1{
  display: table;
  width: 100%;
  margin-top: 50px;
}

.box, .box1::first-child{
  margin-top: 0;
}

.sub{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.redbox{
  background-color: #ff7b7d;
  width: 300px;
}

.bluebox{
  background-color: #7b86ff;
  padding: 20px;
}

.yellowbox{
  background-color: #fff27b;
  width: 300px;
}

.greenbox{
  background-color: #7bff91;
}

.pinkbox{
  background-color: #ff7be2;
  width: 400px;
}

.orangebox{
  background-color: #ffc67b;
  width: 400px;
}

.blue2box{
  background-color: #7bf2ff;
}